
{{> layout/header}}
<link rel="stylesheet" href="/css/admin-owner/style.css">
<main class="admin-owner-wrapper">
    {{> layout/owner-sidebar}}
        <section class="content-section">
            {{> product/list-form}}
        </section>

</main>



{{> layout/footer }}