{{> layout/header}}

<div class="admin-owner-wrapper">
    {{> layout/owner-sidebar}}

    <div class="content-section">
        <h2 class="mb-4">상품 목록 관리</h2>
        {{> product/list-form}}
    </div>
</div>

{{> layout/footer}}