{{> layout/header}}

<div class="admin-owner-wrapper">
    {{> layout/owner-sidebar}}

    <div class="content-section">
        <h2 class="mb-4">신규 상품 등록</h2>
        {{> product/save-form}}
    </div>
</div>

{{> layout/footer}}