.review-summary-box .summary-item .label {
    font-size: 13px;
    color: #666;
    margin-bottom: 5px;
}

.review-summary-box .summary-item .emoji {
    font-size: 24px;
}

.card {
    transition: transform 0.2s;
}

.card:hover {
    background-color: #fafafa;
}

.star-display {
    letter-spacing: 2px;
    font-weight: bold;
}

.object-fit-cover {
    object-fit: cover;
}

.bar-container {
    flex: 1;
    height: 10px;
    background: #eee;
    border-radius: 5px;
    margin: 0 10px;
}
.bar {
    height: 100%;
    background: #25cd62; /* 카카오 노란색 */
    border-radius: 5px;
}
.stat-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}