/* mypage-sidebar.css */

/* 메인 래퍼 */
.mypage-main-wrapper {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
    padding: 40px 20px;
}

/* 사이드바 */
.mypage-sidebar {
    width: 180px;
    height: fit-content;
    position: sticky;
    top: 20px;
}

.mypage-sidebar h2 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #000;
    font-weight: 700;
}

.mypage-sidebar ul {
    list-style: none;
    padding: 0;
}

.mypage-sidebar li {
    margin: 0;
}

.mypage-sidebar a {
    display: block;
    padding: 12px 0;
    color: #888;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.2s;
    font-weight: 400;
}

.mypage-sidebar a:hover {
    color: #000;
}

.mypage-sidebar a.active {
    color: #000;
    font-weight: 700;
}


h2{
    margin-bottom: 40px;
}

ul {
    padding:0;
}

li {
    font-size: 1.3rem;
}

a.active {
    font-weight: bold;
}

.mypage-content-box {
    flex-grow: 1; /* 남은 공간 모두 사용 */
}

/* 오른쪽 수정 폼 영역 */
.mypage-content-box {
    flex: 1;
    max-width: 900px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    padding: 40px;
}

.mypage-content-box h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 35px;
}

/* 폼 그룹 스타일 */
.update-form-group {
    margin-bottom: 25px;
}

.update-form-group label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

.update-form-group label .req-star {
    color: #ff4d4d;
    margin-left: 3px;
}

/* 수정하기 버튼 */
.btn-review {
    width: 100%;
    padding: 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

.btn-submit-update:hover {
    background-color: #2980b9;
}

.star-rating {
    /*border:solid 1px #ccc;*/
    display:flex;
    flex-direction: row-reverse;
    font-size:1.5em;
    justify-content: space-between;
    padding:0 .2em;
    text-align:center;
    width: 250px;
}

.star-rating input {
    display:none;
}

.star-rating label {
    color:#ccc;
    cursor:pointer;
    user-select: none;
}

.star-rating :checked ~ label {
    color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color:#fc0;
}

.star {
    font-size: 1.3em;
    color: #ccc;
}

.star.filled {
    color: #f90;
}

.star-rating {
    /*border:solid 1px #ccc;*/
    display:flex;
    flex-direction: row-reverse;
    font-size:1.5em;
    justify-content: space-between;
    padding:0 .2em;
    text-align:center;
    width: 250px;
}

.star-rating input {
    display:none;
}

.star-rating label {
    color:#ccc;
    cursor:pointer;
    user-select: none;
}

.star-rating :checked ~ label {
    color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color:#fc0;
}
