<div class="header-wrapper has-nav">
    <div class="container">
        {{> layout/header }}
        {{> layout/nav }}
    </div>
</div>

<!-- 수정삭제버튼 -->
<div class="d-flex justify-content-end">

        <div class="d-flex justify-content-end mb-2">
            <a href="/review/{{id}}/update" class="btn btn-warning me-2">수정</a>
            <form action="/review/{{id}}/delete" method="post">
                <button class="btn btn-danger">삭제</button>
            </form>
        </div>


    <div class="d-flex justify-content-end">
        <b>리뷰 내용</b> : {{review.content}}
    </div>
    <div class="d-flex justify-content-end">
        <b>리뷰 별점</b> : {{review.rating}}
    </div>
    <div class="d-flex justify-content-end">
        <b>사진 경로</b> : {{review.reviewImage}}
    </div>
</div>