<div class="mypage-content-box">
        <div class="card-header"><b>상품 리뷰 상세보기</b></div>

    <div class="text-center mb-4">
        {{#review.reviewImage}}
            <img src="/images/{{review.reviewImage}}" alt="리뷰 이미지" class="rounded-circle border">
        {{/review.reviewImage}}

        {{^review.reviewImage}}
            <div class="bg-secondary d-inline-flex align-items-center justify-content-center border">
                <span class="fs-5">리뷰 사진 없음</span>
            </div>
        {{/review.reviewImage}}
    </div>

    <div class="mb-3">
        <div class="form-control-plaintext">내용: {{review.content}}</div>
    </div>
    <div class="mb-3">
        <div class="form-control-plaintext">별점:
            {{#review.stars}}
                <span class="star filled">★</span>
            {{/review.stars}}
            {{#review.emptyStars}}
                <span class="star">★</span>
            {{/review.emptyStars}}
        </div>
    </div>
    <div class="mb-3">
        <div class="form-control-plaintext">작성자: {{review.username}}</div>
    </div>
    <!-- 수정삭제버튼 -->
    {{#isOwner}}
        <div class="d-flex justify-content-end mb-2">
            <a href="/review/{{reviewId}}/update" class="btn btn-warning me-2">수정</a>
            <form action="/review/{{reviewId}}/delete" method="post">
                <button class="btn btn-danger">삭제</button>
            </form>
        </div>
    {{/isOwner}}
