<div class="header-wrapper">
    <div class="container">
        {{> layout/header }}
    </div>
</div>

<link rel="stylesheet" href="/css/user/update-section.css">

<main class="mypage-main-wrapper">
    {{> layout/mypage-sidebar}}


    <div class="container p-5">
        <div class="card">
            <div class="card-header"><b>상품 리뷰 목록</b></div>

            {{#reviewList}}
                <div class="card mb-3 ">
                    <div class="card-body">
                        <h4 class="card-title mb-3">내용: {{content}}</h4>
                        <h4 class="card-title mb-3">작성자: {{username}}</h4>
                        <h4 class="card-title mb-3">작성일 {{createdAt}}</h4>

                        <a href="/review/{{id}}" class="btn btn-primary">상세보기</a>
                        <!--            <a href="/review/" class="btn btn-primary">상세보기</a>-->
                    </div>
                </div>
            {{/reviewList}}
            <a href="/review/save" class="btn btn-primary">리뷰 작성</a>
        </div>
    </div>
</main>

{{> layout/footer }}

