<div class="mypage-content-box">
    <div class="card">
        <div class="card-header"><b>상품 리뷰 작성</b></div>

        <form action="/review/save" method="post" enctype="multipart/form-data">

            <div class="mb-3">
                <textarea class="form-control" rows="5" placeholder="내용 입력" name="content" required></textarea>
            </div>

            <div class="mb-3">
                <label>평점 (1~5)</label>
            </div>
            <div class="star-rating">
                <input type="radio" id="5-stars" name="rating" value="5"/>
                <label for="5-stars" class="star">&#9733;</label>
                <input type="radio" id="4-stars" name="rating" value="4"/>
                <label for="4-stars" class="star">&#9733;</label>
                <input type="radio" id="3-stars" name="rating" value="3"/>
                <label for="3-stars" class="star">&#9733;</label>
                <input type="radio" id="2-stars" name="rating" value="2"/>
                <label for="2-stars" class="star">&#9733;</label>
                <input type="radio" id="1-star" name="rating" value="1" checked hidden/>
                <label for="1-star" class="star">&#9733;</label>
            </div>

            <div class="mb-3">
                <label for="reviewImage">리뷰 사진(선택사항)</label>
                <input type="file" class="form-control" id="reviewImage" name="reviewImage" accept="image/*">
                <small class="form-text text-muted mt-1">이미지 파일만 업로드 가능합니다(JPG, PNG, GIF)</small>
            </div>

            <!-- 버튼 클릭시 폼이 제출됨 -->
            <button class="btn btn-primary form-control">리뷰 작성 완료</button>
        </form>
    </div>
</div>
