<div class="mypage-content-box">
    <div class="card">
        <div class="card-header"><b>상품 리뷰 수정</b></div>
        <div class="card-body">
            <div class="text-center mb-4">
                {{#review.reviewImage}}
                {{!어 src 경로가 /images/ 이네... 스프링에 등록한 리소드 핸들러가 동작 함 }}
                    <img src="/images/{{review.reviewImage}}" alt="리뷰 이미지" class="rounded-circle border"
                         style="width: 200px;height: 200px; object-fit: cover">
                    <div class="mt-2">
                        <form action="/review/{{reviewId}}/review-image/delete" method="post" style="display: inline">
                            <button type="submit" class="btn btn-sm btn-danger"
                                    onclick="return confirm('리뷰 이미지 사진을 삭제하시겠습니까?')">리뷰 이미지 삭제
                            </button>
                        </form>
                    </div>
                {{/review.reviewImage}}
                {{^review.reviewImage}}
                    <div class="bg-secondary d-inline-flex align-items-center justify-content-center border"
                         style="width: 200px; height: 200px;">
                        <span class="text-white fs-5">리뷰 사진 없음</span>
                    </div>
                {{/review.reviewImage}}
            </div>
        </div>

        <div class="card">
            <div class="card-header"><b>상품 리뷰 수정</b></div>
            <form action="/review/{{reviewId}}/update" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                <textarea class="form-control" rows="5" placeholder="내용 입력" name="content"
                          required>{{review.content}}</textarea>
                </div>

                <div class="mb-3">
                    <label>평점 (1~5)</label>
                </div>
                <div class="star-rating">
                    <input type="radio" id="5-stars" name="rating" value="5"
                           {{#review.checked5}}checked{{/review.checked5}}/>
                    <label for="5-stars" class="star">&#9733;</label>
                    <input type="radio" id="4-stars" name="rating" value="4"
                           {{#review.checked4}}checked{{/review.checked4}}/>
                    <label for="4-stars" class="star">&#9733;</label>
                    <input type="radio" id="3-stars" name="rating" value="3"
                           {{#review.checked3}}checked{{/review.checked3}}/>
                    <label for="3-stars" class="star">&#9733;</label>
                    <input type="radio" id="2-stars" name="rating" value="2"
                           {{#review.checked2}}checked{{/review.checked2}}/>
                    <label for="2-stars" class="star">&#9733;</label>
                    <input type="radio" id="1-star" name="rating" value="1"
                           {{#review.checked1}}checked{{/review.checked1}}/>
                    <label for="1-star" class="star">&#9733;</label>
                </div>

                {{#review.reviewImage}}
                    <input type="hidden" name="reviewImageFilename" value="{{review.reviewImage}}">
                {{/review.reviewImage}}
                <div class="mb-3">
                    <label for="reviewImage">리뷰 사진(선택사항)</label>
                    <input type="file" class="form-control" id="reviewImage" name="reviewImage" accept="image/*">
                    <small class="form-text text-muted mt-1">이미지 파일만 업로드 가능합니다(JPG, PNG, GIF)</small>
                </div>

                <!-- 버튼 클릭시 폼이 제출됨 -->
                <button class="btn-review form-control">리뷰 수정 완료</button>
            </form>
        </div>
    </div>
</div>
