<ul class="nav-root">
    {{#categories}}
        <li class="nav-parent">
            <a href="/categories/{{id}}" class="nav-parent-link">
                {{categoryName}}
                <span class="arrow-down"></span>
            </a>
                <ul class="nav-child-list">
                    {{#children}}
                        <li class="nav-child-item">
                            <a href="/categories/{{id}}" class="nav-child-link">{{categoryName}}</a>
                        </li>
                    {{/children}}
                </ul>
        </li>
    {{/categories}}
</ul>