<ul class="nav-root">
    {{#categories}}
        <li class="nav-parent">
            <a href="/category/{{id}}" class="nav-parent-link">
                {{categoryName}}
            </a>

            {{#children}}
                <ul class="nav-child-list">
                    <li class="nav-child-item">
                        <a href="/category/{{id}}" class="nav-child-link">
                            {{categoryName}}
                        </a>
                    </li>
                </ul>
            {{/children}}
        </li>
    {{/categories}}
</ul>
