<div class="review-summary-box mb-4 p-4 border rounded shadow-sm bg-light">
    <h5 class="mb-3 fw-bold">상품 만족도 요약</h5>
    <div class="d-flex justify-content-between text-center">
        <div class="summary-item">
            <div class="label">매우 만족</div>
            <div>대충 퍼센테이지</div>
        </div>

        <div class="summary-item"><div class="label">만족</div></div>

        <div class="summary-item"><div class="label">보통</div></div>

        <div class="summary-item"><div class="label">아쉬움</div></div>

        <div class="summary-item"><div class="label">매우 아쉬움</div></div>
    </div>
</div>