{{#alertMessage}}
    <script>
        alert("{{alertMessage}}");
            {{#url}}
            location.href = "{{url}}";
            {{/url}}
            {{^url}}
            history.back();
            {{/url}}
    </script>
{{/alertMessage}}