{{> layout/header }}

<div class="admin-owner-wrapper">
    {{> layout/admin-sidebar}}

    <div class="content-section">
        <h2 class="mb-4">목록</h2>
        <div class="mb-4">

            <div class="chat-list">
                {{#chatRoomList}}
                    <form action="/admin/chat/{{chatRoomId}}">
                        <button name="chatRoomId" value="{{chatRoomId}}">
                            <div class="chat-header">
                                <div>
                                    <i class="fa-solid fa-comments"></i>
                                </div>
                                <span> 실시간 상담 [ {{chatRoomId}} ]</span>
                                <div class="chat-list-badge">
                                    <span class="chat-status-dot">상담중</span>
                                </div>
                            </div>
                            <div class="chat-body">
                                <div>
                                    <div>
                                        <i class="fa-solid fa-user"></i>
                                    </div>
                                   <span>{{userId}}번 회원</span>
                                </div>
                            </div>
                        </button>
                    </form>
                {{/chatRoomList}}
            </div>

        </div>
    </div>
</div>
{{> layout/footer}}