<div class="mypage-content-box">
    <div class="order-box">

        {{#order}}
            <div class="order-card">
                <div class="order-header">주문상품 {{payments.size}}개</div>
                {{#payments}}
                    <div class="order-item">
                        <img src="/images/{{thumbnailUrl}}"
                             alt="{{productName}}" class="product-image">
                        <div class="order-item-info">
                            <h4>{{productName}}</h4>
                            <p>상품코드: {{productCode}}</p>
                            <p>총액: {{orderAmount}}원</p>
                            <p>수량: {{quantity}}개</p>
                            <span class="status">{{statusDisplay}}</span>
                        </div>
                    </div>
                {{/payments}}
            </div>


            <div class="order-card">
                <div class="order-header">결제 정보</div>
                <div class="order-item">
                    <div class="order-item-info">
                        <p>결제 방법: {{method}}</p>
                        <p>결제 날짜: {{approvedAt}}</p>
                        <p>결제 총액: {{totalAmount}}원</p>
                    </div>
                </div>
            </div>

        {{/order}}

    </div>
</div>