<section class="mypage-content-box">
    <div class="card">

        {{#orderItems}}
        <div class="order-card">
            <div class="order-header">주문상품 {{orderItems.size}}개</div>

                <div class="order-item">
                    <img src="https://cdn.pixabay.com/photo/2025/08/21/15/27/pixel-art-9788141_640.png" alt="{{productName}}" class="product-image">
                    <div class="order-item-info">
                        <h4>{{productName}}</h4>
                        <p>가격: {{productPrice}}원</p>
                        <p>수량: {{quantity}}개</p>
                        <p>총액: {{totalPrice}}</p>
                        <span class="status">{{orderStatus}}</span>
                    </div>
                </div>
        </div>

        <div class="order-card">
            <div class="order-header">결제 정보</div>
                <div class="order-item">
                    <div class="order-item-info">
                        <p>결제 방법: {{method}}</p>
                        <p>결제 번호: {{paymentKey}}</p>
                        <p>결제 날짜: {{approvedAt}}</p>
                        <p>결제 금액: {{amount}}</p>
                    </div>
                </div>
        </div>
        {{/orderItems}}

    </div>
</section>