<section class="mypage-content-box">
    <div class="card">
        {{#orderList}}
            <div class="order-card">
                <div class="order-header">
                    <h3>주문번호: {{orderNumber}}</h3>
                    <span>주문일: {{createdAt}}</span>
                    <form action="/order/detail">
                        <input type="hidden" name="id" value="{{orderId}}">
                        <button class="detailBtn">상세보기</button>
                    </form>
                </div>

                {{#orderItemList}}
                    <div class="order-item">
                        <img src="https://cdn.pixabay.com/photo/2025/07/28/23/42/red-fruit-9741345_640.png" alt="{{productName}}" class="product-image">
                        <div class="order-item-info">
                            <h4>{{productName}}</h4>
                            <p>가격: {{productPrice}}원</p>
                            <p>수량: {{quantity}}개</p>
                            <span class="status" id="status">{{orderStatus}}</span>
                        </div>
                    </div>

                        {{#isComplete}}
                            <div class="order-item-buttons">
                                <a href="/review/save" class="reviewBtn">리뷰 작성</a>
                            </div>
                        {{/isComplete}}

                        {{^isComplete}}
                            <div class="order-item-buttons">
                                {{^isRefund}}
                                    <button class="primary confirmBtn" data-order-item-id="{{id}}">구매확정</button>
                                    <button class="refundBtn" type="button" data-order-item-id="{{id}}">반품/교환신청</button>
                                    <a href="/review/save" class="reviewBtn" style="display: none">리뷰 작성</a>
                                {{/isRefund}}

                                {{#isRefund}}
                                {{/isRefund}}
                            </div>
                        {{/isComplete}}
                {{/orderItemList}}

            </div>
        {{/orderList}}
        {{^orderList}}
            <div class="order-card">
                <h3>주문내역이 없습니다.</h3>
            </div>
        {{/orderList}}
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        document.querySelectorAll('.confirmBtn').forEach(btn => {
            btn.addEventListener('click', async function () {
                const orderItemId = this.dataset.orderItemId
                const statusContainer = this.closest('.order-card');
                const container = this.closest('.order-item-buttons');
                if (!confirm("구매확정 하시겠습니까?")) return;

                try {
                    let response = await fetch(`/order/${orderItemId}/confirm`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });

                    if (response.ok) {
                        statusContainer.querySelector('.status').textContent = "구매확정";
                        container.querySelector('.refundBtn').style.display = "none";
                        container.querySelector('.reviewBtn').style.display = "block";
                        btn.style.display = "none";
                    } else {
                        alert("구매확정에 실패했습니다.");
                    }

                } catch (e) {
                    alert("오류가 발생했습니다. " + e.message)
                }
            });
        });

        document.querySelectorAll('.refundBtn').forEach(btn => {
            btn.addEventListener('click', async function () {
                const orderItemId = this.dataset.orderItemId
                const statusContainer = this.closest('.order-card');
                const container = this.closest('.order-item-buttons');
                if(!confirm("반품하시겠습니까?")) return;

                try {
                    let response = await fetch(`/payment/${orderItemId}/refund`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });

                    if (response.ok) {
                        statusContainer.querySelector('.status').textContent = "반품";
                        container.querySelector('.confirmBtn').style.display = "none";
                        btn.style.display = "none";
                    } else {
                        alert("반품에 실패했습니다.");
                    }

                } catch (e) {
                    alert("오류가 발생했습니다." + e.message);
                }
            });
        });
    });
</script>