<section class="mypage-content-box">
    <div class="order-box">
        {{#orderList}}
            <div class="order-card">
                <div class="order-header">
                    <h3>주문번호: {{id}}</h3>
                    <span>주문일자: {{orderedAt}}</span>

                    <form action="/order/detail">
                        <input type="hidden" name="orderId" value="{{id}}">
                        <button class="detailBtn">상세보기</button>
                    </form>
                </div>

                {{#payments}}
                    <div class="order-item">
                        <img src="https://cdn.pixabay.com/photo/2025/07/28/23/42/red-fruit-9741345_640.png"
                             alt="{{productName}}" class="product-image">
                        <div class="order-item-info">
                            <h4>{{productName}}</h4>
                            <p>개수: {{quantity}}</p>
                            <p>가격: {{orderAmount}}원</p>
                            <span class="status" id="status">{{status}}</span>
                            <div class="order-item-buttons">

                                <button class="primary confirmBtn" data-order-item-id="{{id}}">구매확정</button>
                                <button class="refundBtn" type="button" value="{{id}}" id="paymentId">반품신청</button>
                                <a href="/review/{{productId}}/save" class="reviewBtn" style="display: block">리뷰 작성</a>
                            </div>

                        </div>
                    </div>
                {{/payments}}
            </div>
        {{/orderList}}
        {{^orderList}}
            <div class="order-card">
                <h3>주문내역이 없습니다.</h3>
            </div>
        {{/orderList}}
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function () {

        document.querySelectorAll('.confirmBtn').forEach(btn => {
            btn.addEventListener('click', async function () {
                const orderItemId = this.dataset.orderItemId
                const statusContainer = this.closest('.order-card');
                const container = this.closest('.order-item-buttons');
                if (!confirm("구매확정 하시겠습니까?")) return;

                try {
                    let response = await fetch(`/order/${orderItemId}/confirm`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });

                    if (response.ok) {
                        statusContainer.querySelector('.status').textContent = "구매확정";
                        container.querySelector('.refundBtn').style.display = "none";
                        container.querySelector('.reviewBtn').style.display = "block";
                        btn.style.display = "none";
                    } else {
                        alert("구매확정에 실패했습니다.");
                    }

                } catch (e) {
                    alert("오류가 발생했습니다. " + e.message)
                }
            });
        });

        document.querySelectorAll('.refundBtn').forEach(btn => {
            btn.addEventListener('click', async function () {
                const orderItemId = this.dataset.orderItemId
                const statusContainer = this.closest('.order-card');
                const container = this.closest('.order-item-buttons');

                const paymentId = document.getElementById("paymentId");
                if (!confirm("반품하시겠습니까?")) return;

                try {
                    let response = await fetch(`/payment/${paymentId}/refund`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });

                    if (response.ok) {
                        statusContainer.querySelector('.status').textContent = "반품";
                        container.querySelector('.confirmBtn').style.display = "none";
                        btn.style.display = "none";
                    } else {
                        console.error(response);
                        alert("반품에 실패했습니다.");
                    }

                } catch (e) {
                    alert("오류가 발생했습니다." + e.message);
                }
            });
        });
    });
</script>