{{> layout/header}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상품 목록</title>
</head>
<body>

{{#products}}
    <div class="card mb-3">
        <div class="card-body">
            <h4 class="card-title mb-3">{{productName}}</h4>
            <div>가격: {{price}}</div>
            <div>상태: {{status}}</div>

            <a href="/products/{{id}}/edit" class="btn btn-primary">
                상세보기
            </a>
        </div>
    </div>
{{/products}}

</body>
</html>
{{> layout/footer}}