<aside class="sidebar-menu">
    <h3>관리자 센터</h3>
    <ul>
        <li><a href="/admin/list">회원 관리</a></li>
        <li><a href="/admin/owner/list">입점사 관리</a></li>
        <li><a href="/admin/categories/save">카테고리 등록</a></li>
        <li><a href="/admin/categories/list">카테고리 목록</a></li>
        <li><a href="/admin/products">전체 상품 관리</a></li>
        <li><a href="/admin/statistics">매출 통계</a></li>
    </ul>
</aside>