<aside class="sidebar-menu">
    <div class="sidebar-header">
        <h3>관리자 센터</h3>
    </div>
    <ul class="admin-nav-list">
        <li><a href="/admin/list"><i class="bi bi-people"></i> <span>회원 관리</span></a></li>
        <li><a href="/admin/owner/list"><i class="bi bi-shop"></i> <span>입점사 관리</span></a></li>
        <li><a href="/admin/categories/save"><i class="bi bi-plus-square"></i> <span>카테고리 등록</span></a></li>
        <li><a href="/admin/categories/list"><i class="bi bi-list-ul"></i> <span>카테고리 목록</span></a></li>
        <li><a href="/admin/products"><i class="bi bi-box-seam"></i> <span>상품 관리</span></a></li>
        <li><a href="/admin/statistics"><i class="bi bi-bar-chart"></i> <span>매출 통계</span></a></li>
        <li><a href="/admin/chat/list"><i class="bi bi-chat-dots"></i> <span>1:1 상담</span></a></li>
    </ul>
</aside>