{{> layout/header}}

<div class="specific-page-wrapper">
    <aside>
    <div class="sidebar-area">
        <div class="sidebar-header">



            판매자센터/관리자센터/MyPage
        </div>

        <ul>
            사이드 바 아래 탭들
            <li>tab-section</li>
        </ul>
    </div>
    </aside>

    <div class="main-area">
        <section class="section-content-area">
            다양한 섹션 페이지들..이 {{형태로 들어옴}}
        </section>
    </div>
</div>

{{> layout/footer}}