<!DOCTYPE html>
<html lang="en">
<head>
    <title>DEVSHOP | 개발자 필수템</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon.png">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

<div class="container">
    <div class="header">
        <div class="first-top">
            <a href="#">마이페이지</a>
            <a href="#">로그인</a>
        </div>
        <div class="second-top">
            <a href="home">
                <img src="/img/logo.png" width="180px" alt="logo"/>
            </a>
            <div class="right">
                <div class="greet">
                    Not Found 님, 안녕하세요!
                </div>
                <a href="#">
                    <i class="bi bi-cart"></i>
                </a>
                <a href="#">
                    <i class="bi bi-person-fill"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="nav">
        <a href="#">키보드</a>
        <a href="#">손목 받침대</a>
        <a href="#">머그컵</a>
        <a href="#">슬리퍼</a>
        <a href="#">옷</a>
    </div>
</div>
<hr style="color: grey; margin: 0;">

