

<aside class="mypage-sidebar">
    <h2>MyPage</h2>
    <ul>
        <li><a href="/order/list">주문 목록</a></li>
        <li><a href="/review/list">리뷰 관리</a></li>
        <li><a href="/users/update" class="{{#isUpdatePage}}active{{/isUpdatePage}}">내정보수정</a></li>
    </ul>
</aside>