<div class="nav-container d-flex align-items-center border-top">
    {{> category/category-nav }}

    <div class="user-menu ms-auto">
        {{#sessionUser}}
            {{#isAdmin}}
                <a href="/admin/main" class="admin-link">관리자 페이지</a>
            {{/isAdmin}}
            {{#isOwner}}
                <a href="/owner/dashboard" class="owner-link">판매자 페이지</a>
            {{/isOwner}}
        {{/sessionUser}}
    </div>
</div>