<aside class="sidebar-menu">
    <h3>판매자 센터</h3>
    <ul>
        <li><a href="/owner/products" class="active">내 상품 관리</a></li>
        <li><a href="/products/save">신규 상품 등록</a></li>
        <li><a href="/owner/orders">주문 배송 관리</a></li>
    </ul>
</aside>