<aside class="sidebar-menu">
    <div class="sidebar-header">
        <span class="fs-4 fw-bold text-primary">판매자 센터</span>
    </div>
    <ul class="admin-nav-list">
        <li>
            <a href="/owner/dashboard">
                <i class="bi bi-speedometer2"></i> <span>대시보드</span>
            </a>
        </li>
        <li>
            <a href="/owner/products">
                <i class="bi bi-box-seam"></i> <span>상품 목록 관리</span>
            </a>
        </li>
        <li>
            <a href="/owner/products/save">
                <i class="bi bi-plus-circle"></i> <span>신규 상품 등록</span>
            </a>
        </li>
    </ul>
</aside>