{{> layout/header}}

<div class="admin-owner-wrapper">
    {{> layout/admin-sidebar}}

    <div class="content-section">
        <h2 class="mb-4">입점사 현황</h2>
        <div class="table-responsive">
            <table class="data-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>입점사 명</th>
                    <th>보유 상품 수</th>
                    <th>상태</th>
                    <th>관리</th>
                </tr>
                </thead>
                <tbody>
                {{#ownerList}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{ownerName}}</td>
                        <td><span class="badge bg-success">{{ownerStatus}}</span></td>
                        <td>
                            <button class="btn btn-outline-dark btn-sm">상세보기</button>
                        </td>
                        <td>

                            {{#isAPPROVED}}
                                <form action="/admin/owner/{{id}}/suspension" method="post">
                                    <button class="btn btn-danger">정지</button>
                                </form>
                            {{/isAPPROVED}}
                            {{^isAPPROVED}}
                                <form action="/admin/owner/{{id}}/approve" method="post">
                                    <button class="btn btn-danger">승인</button>
                                </form>
                            {{/isAPPROVED}}

                        </td>
                    </tr>
                {{/ownerList}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{> layout/footer}}