{{> layout/header }}


<div class="admin-container">
    {{> layout/admin-sidebar}}
    <main class="flex-grow-1 p-4 bg-light">
        <section class="content-section">
            <h2>회원 관리</h2>
            <table class="data-table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>이름</th>
                    <th>이메일</th>
                    <th>제품 ID</th>
                    <th>제품 이름</th>
                    <th>제품 코드</th>
                    <th>결제 수량</th>
                    <th>결제 금액</th>
                    <th>결제 방법</th>
                    <th>현재 결제 상태</th>
                    <th>이전 결제 상태</th>
                    <th>환불 사유</th>
                    <th>생성 시간</th>
                    <th>수정 시간</th>
                </tr>
                </thead>
                <tbody>
                {{#historyList}}
                    <tr>
                        <th>{{id}}</th>
                        <th>{{username}}</th>
                        <th>{{email}}</th>
                        <th>{{productId}}</th>
                        <th>{{productName}}</th>
                        <th>{{productCode}}</th>
                        <th>{{quantity}}</th>
                        <th>{{amount}}</th>
                        <th>{{method}}</th>
                        <th>{{newValue}}</th>
                        <th>{{#oldValue}}{{oldValue}}{{/oldValue}}{{^oldValue}} - {{/oldValue}}</th>
                        <th>{{#reason}}{{reason}}{{/reason}}{{^reason}} - {{/reason}}</th>
                        <th>{{createdAt}}</th>
                        <th>{{updatedAt}}</th>
                    </tr>
                {{/historyList}}
                </tbody>
            </table>

            <div class="chart-container" style="display: flex; gap: 20px;">
                <div style="width: 400px; height: 400px;">
                    <canvas id="countChart"></canvas>
                </div>
                <div style="width: 400px; height: 400px;">
                    <canvas id="methodChart"></canvas>
                </div>
            </div>

        </section>
    </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('countChart');
    const ctxM = document.getElementById('methodChart');
    const historyData = [];

        {{#historyList}}
        historyData.push({
            newValue: "{{newValue}}",
            method: "{{method}}",
            oldValue: "{{oldValue}}" || null
        })
        {{/historyList}}

    console.log(historyData)

    const statusCount = {};
    const statusMinusCount = {};
    const methodCount = {};
    historyData.forEach(item => {
        if (statusCount[item.newValue]) {
            statusCount[item.newValue]++;

        } else {
            statusCount[item.newValue] = 1;
        }

        if (statusCount[item.oldValue] !== null) {
            statusCount[item.newValue]--;
        }

        if (methodCount[item.method]) {
            methodCount[item.method]++;
        } else {
            methodCount[item.method] = 1;
        }
    });

    console.log(statusCount)
    console.log(statusMinusCount)

    const statusLabels = Object.keys(statusCount);
    const statusData = Object.values(statusCount);
    const methodLabels = Object.keys(methodCount);
    const methodData = Object.values(methodCount);

    console.log(statusData)

    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: statusLabels,
            datasets: [{
                label: statusLabels,
                data: statusData,
                backgroundColor: [
                    'rgba(75, 192, 192, 0.8)',   // 청록색
                    'rgba(255, 99, 132, 0.8)',   // 빨간색
                    'rgba(255, 206, 86, 0.8)',   // 노란색
                    'rgba(54, 162, 235, 0.8)',   // 파란색
                    'rgba(153, 102, 255, 0.8)',  // 보라색
                    'rgba(255, 159, 64, 0.8)'    // 주황색
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ], borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: '결제 상태별 분포'
                }
            }
        }
    });
    new Chart(ctxM, {
        type: 'pie',
        data: {
            labels: methodLabels,
            datasets: [{
                label: methodLabels,
                data: methodData,
                backgroundColor: [
                    'rgba(75, 192, 192, 0.8)',   // 청록색
                    'rgba(255, 99, 132, 0.8)',   // 빨간색
                    'rgba(255, 206, 86, 0.8)',   // 노란색
                    'rgba(54, 162, 235, 0.8)',   // 파란색
                    'rgba(153, 102, 255, 0.8)',  // 보라색
                    'rgba(255, 159, 64, 0.8)'    // 주황색
                ],
                borderColor: [
                    'rgba(75, 192, 192, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ], borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: '결제 방법 분포'
                }
            }
        }
    });
</script>

{{> layout/footer}}

<!-- user list / 권한별 user 조회 / owner / user -->