<table class="address-table">
    <colgroup>
        <col style="width:20%">
        <col>
    </colgroup>
    <tbody>
    <tr>
        <th>우편번호</th>
        <td>
            <input type="text" id="zipNo" name="zipNo" readonly>
            <button type="button" onclick="goPopup()">주소검색</button>
        </td>
    </tr>

    <tr>
        <th>도로명주소</th>
        <td>
            <input type="text" id="roadAddr" name="roadAddr" readonly>
        </td>
    </tr>

    <tr>
        <th>상세주소</th>
        <td>
            <input type="text" id="addrDetail" name="addrDetail">
        </td>
    </tr>
    </tbody>
</table>

<script>
    function goPopup() {
        window.open(
                "popup/juso-popup.mustache",
                "jusoPopup",
                "width=570,height=420,scrollbars=yes,resizable=yes"
        );
    }

    function jusoCallBack(data) {
        document.getElementById("#zipNo").value = data.zipNo;
        document.getElementById("#roadAddr").value = data.roadAddr;
        document.getElementById("#addrDetail").value = data.addrDetail || "";

    }
</script>