<div class="header-wrapper">
    <div class="container">
        {{> layout/header }}
    </div>
</div>


<div class="join">
    <div class="register-box">
        <h2 class="title">회원가입</h2>

        <form action="/user/join" method="post">

            <div class="form-group">
                <label for="username">아이디 <span class="required">*</span>
                    <input type="text" id="username" name="username" placeholder="5자 이상 255자 이하의 아이디를 입력해주세요.">
                </label>
            </div>

            <div class="form-group">
                <label for="password">비밀번호 <span class="required">*</span>
                    <input type="password" id="password" name="password" placeholder="6자 이상 16자 이하의 비밀번호를 입력하세요">
                    <small>6~16자, 영문/숫자/특수문자 중 2가지 이상 조합</small>
                </label>
            </div>

            <div class="form-group">
                <label for="nickname">닉네임 <span class="required">*</span>
                    <input type="text" id="nickname" name="nickname" placeholder="2자 이상 6자 이하의 닉네임을 입력해주세요.">
                </label>
            </div>

            <div class="form-group">
                <label for="email">이메일 주소 <span class="required">*</span>
                    <input type="text" id="email" name="email" placeholder="예) sample@dev.com (유효한 이메일 형식)">
                </label>
            </div>

            <div class="form-group">
                <label for="address">주소 <span class="required">*</span>
                    <table >
                        <colgroup>
                            <col style="width:20%"><col>
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>우편번호</th>
                            <td>
                                <input type="hidden" id="confmKey" name="confmKey" value=""  >
                                <input type="text" id="zipNo" name="zipNo" readonly style="width:100px">
                                <input type="button" class="popup" value="주소검색" onclick="goPopup();">
                            </td>
                        </tr>
                        <tr>
                            <th>도로명주소</th>
                            <td><input type="text" id="roadAddrPart1" style="width:85%"></td>
                        </tr>
                        <tr>
                            <th>상세주소</th>
                            <td>
                                <input type="text" id="addrDetail" style="width:40%" value="">
                                <input type="text" id="roadAddrPart2"  style="width:40%" value="">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </label>
            </div>

            <div class="form-group">
                <label for="phoneNumber">연락처 <span class="required">*</span>
                    <input type="text" id="phoneNumber" name="phoneNumber" placeholder="010-xxxx-xxxx 형식으로 입력">
                    <small>10 ~ 11 자리의 숫자만 입력 가능합니다. (자동 하이픈 입력 등 UI 보조 필요)</small>
                </label>
            </div>

            <div class="form-group">
                <label>성별</label>
                <div class="radio-group">
                    <label class ="radio-item">
                        <input type="radio" name="gender" value="M"> 남성</label>
                    <label class ="radio-item"><input type="radio" name="gender" value="F"> 여성</label>
                    <label class ="radio-item"><input type="radio" name="gender" value="N" checked> 선택 안 함</label>
                </div>
            </div>

            <div class="form-group">
                <label for="birthday">생년월일
                    <input type="date" id="birthday" name="birthday">
                </label>
            </div>


            <button type="submit" class="btn-register">회원가입 하기</button>
        </form>
    </div>
</div>

<script>
    function goPopup() {
        var pop = window.open("/popup/jusoPopup.jsp","pop","width=570,height=420, scrollbars=yes, resizable=yes");

    }

    function jusoCallBack(roadFullAddr,roadAddrPart1,addrDetail,roadAddrPart2,engAddr, jibunAddr, zipNo, admCd, rnMgtSn, bdMgtSn
            , detBdNmList, bdNm, bdKdcd, siNm, sggNm, emdNm, liNm, rn, udrtYn, buldMnnm, buldSlno, mtYn, lnbrMnnm, lnbrSlno, emdNo){
        // 팝업페이지에서 주소입력한 정보를 받아서, 현 페이지에 정보를 등록합니다.
        document.form.roadAddrPart1.value = roadAddrPart1;
        document.form.roadAddrPart2.value = roadAddrPart2;
        document.form.addrDetail.value = addrDetail;
        document.form.zipNo.value = zipNo;
    }
</script>

{{> layout/footer }}