
        {{> layout/header }}


<div class="login">
    <div class="form-logo ">
        <img src="/img/logo.png" width="180px" alt="logo"/>
    </div>
    <form action="/user/login" method="post">
        <div class="input-group">
            <input type="text" id="username" name="username" placeholder="아이디 (5자 이상 10자 이하)"  required>
        </div>

        <div class="input-group">
            <input type="password" id="password" name="password" placeholder="비밀번호 (6자 이상 16자 이하)"  required>
        </div>

        <button type="submit" class="btn-login">로그인</button>
    </form>

    <div class="links">
        <a href="/user/join">회원 가입</a>
    </div>

    <div class="kakao-img">
        <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=5a15bc47b091eda4830568fb2fa82118&redirect_uri=http://localhost:8080/kakao">
            <img  src="/img/kakao_login_medium_wide.png" alt="카카오 로그인">
        </a>
    </div>
</div>

{{> layout/footer }}