<div class="header-wrapper">
    <div class="container">
        {{> layout/header }}
    </div>
</div>
<link rel="stylesheet" href="/css/user/update-section.css">

<main class="mypage-main-wrapper">
    {{> layout/mypage-sidebar}}

    {{> user/update-section}}
</main>

{{> layout/footer}}