{{> layout/header}}

<div class="admin-owner-wrapper">
    {{> layout/mypage-sidebar}}

    <div class="content-section">
        <h2 class="mb-4">내 정보 수정</h2>
        {{> user/update-section}}
    </div>
</div>

{{> layout/footer}}