
        {{> layout/header }}


<link rel="stylesheet" href="/css/user/update-section.css">

<div class="container">
    <main class="mypage-main-wrapper">
        {{> layout/mypage-sidebar}}

        {{> user/update-section}}
    </main>
</div>

{{> layout/footer}}