{{> layout/header }}


<link rel="stylesheet" href="/css/chat/chat.css">

<div class="container">
    <main class="mypage-main-wrapper">
        {{> layout/mypage-sidebar}}

        {{> chat/index}}
    </main>
</div>

{{> layout/footer}}