{{> layout/header}}

<div class="admin-owner-wrapper">
    {{> layout/mypage-sidebar}}

    <div class="content-section">
        <h2 class="mb-4">주문 목록</h2>
        {{> order/list}}
    </div>
</div>

{{> layout/footer}}