<div class="mypage-content-inner">
    <form action="/user/update" method="post">


        <div class="update-form-group">
            <label for="password">비밀번호 <span class="req-star">*</span></label>
            <input type="password" class="mypage-input" id="password" name="password" value="{{sessionUser.password}}"
                   placeholder="6자 이상 16자 이하의 비밀번호를 입력하세요" required>
        </div>

        <div class="update-form-group">
            <label for="nickname">닉네임 <span class="req-star">*</span></label>
            <input type="text" class="mypage-input" id="nickname" name="nickname" value="{{sessionUser.nickname}}"
                   required>
        </div>

        <div class="update-form-group">
            <label for="address">주소 <span class="req-star">*</span></label>
            {{> user/address-form }}
        </div>

        <div class="update-form-group">
            <label>성별</label>
            <div class="gender-group">
                <label class="gender-card">
                    <input type="radio" name="gender" value="M">
                    <span class="gender-text">남성</span>
                </label>
                <label class="gender-card">
                    <input type="radio" name="gender" value="F">
                    <span class="gender-text">여성</span>
                </label>
                <label class="gender-card">
                    <input type="radio" name="gender" value="N" checked>
                    <span class="gender-text">선택 안 함</span>
                </label>
            </div>
        </div>

        <div>
            <button type="submit" class="btn-submit-update">수정하기</button>
        </div>
    </form>
</div>
